.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-inputs input{
  width: 400px;
  height: 40px;
  font-size: 20px;
  padding: 5px;
}
button {
  margin: 15px;
  padding: .5em .5em;
  border: 2px solid #17C3B2;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  color: #ddd;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: #17C3B2;
 }
 
 button::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #17C3B2;
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
 button:hover::before {
  width: 105%;
 }
 
 button:hover {
  color: #111;
  cursor: pointer;
}
.employees{
  display: flex;
  align-items: center;
  flex-direction: column;
  
}